@page "{restaurantId:int?}"
@model DemoCore02.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Restaurant.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />

    <div class="form-group">
        <label asp-for="Restaurant.Name">Name</label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span asp-validation-for="Restaurant.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location">Location</label>
        <input asp-for="Restaurant.Location" class="form-control" />
        <span asp-validation-for="Restaurant.Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location">Location</label>
        <select class="form-control" asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines"></select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<br />

<a asp-page="./List" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> All Restaurants</a>